#navbarLogo{
    width: 50px;
    height: 50px;
}

#tableLogo{
    max-width: 100px;
    width: 100%;
    height: auto;
}

#downloadLogo{
    max-width: 200px;
    width: 100%;
    height: auto;
}

#logo{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
}

.btn-round{
    border-radius: 30px;
}

.bg-banner-height{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 550px;
}

.bg-banner-image{
    /* background-color: rgb(209, 207, 207); */
    background-image: url(images/hopeBG.png);
    background-size: cover;
}

.bigFont{
    font-size: 50px;
    font-weight: bold;
}

.bg-black{
    background-color: black;
}

.outline{
    outline: auto;
}

.img-center{
    margin-left: auto;
    margin-right: auto;
}

.normal{
    color: white;
    text-decoration: none;
}
